
#container {
    width: auto;
}

#form {
    position: relative;
    left: calc(50% - 500px);
}
#s_tab>b,
#s_tab>a {
    position: relative;
    left: calc(50% - 450px);
}
#container .head_nums_cont_outer .search_tool_conter,
#container .head_nums_cont_outer .nums {
    width: 1320px;
}
#container .head_nums_cont_outer {
    position: absolute;
    left: calc(50% - 795px);
}
#content_left {
    margin-top:25px;
    position: relative;
    left: calc(50% - 802px);
}

#rs {
    position: relative;
    left: calc(50% - 802px);
}
#page {
    position: relative;
    left: calc(50% - 802px);
}
#double {
    width: 800px;
    margin-left: 700px;
    position: absolute;
}