
#container{
    width:auto;
}

#form
{
    position:relative;
    left:calc(50% - 500px);
}

#s_tab>b,
#s_tab>a{
    position:relative;
    left:calc(50% - 445px);
}

#container .head_nums_cont_outer{
    position:absolute;
    left:calc(50% - 502px);
}

#content_left{
    margin-top:25px;
}

#content_left,
#rs,
#page
{
    position:relative;
    left:calc(50% - 502px);
}