#container {
    width: 1300px;
    margin: auto;
}
#rs,
#page,
#content_left {
    margin-left: 0;
}
#content_left {
    padding-left: 0;
}
#page {
    margin-left: -40px;
}
#form {
    position: absolute;
    width: 640px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#s_tab {
    padding-left: 0px;
    margin-left: -95px;
    text-align: center;
}
.head_nums_cont_outer .search_tool_conter,
.head_nums_cont_outer .nums {
    margin-left: 0;
}
#container .head_nums_cont_outer .search_tool_conter,
#container .head_nums_cont_outer .nums {
    width: 1300px;
}
#double {
    position: absolute;
    margin-left: 660px;
}